<header th:fragment="header" class="header d-flex justify-content-between align-items-center p-3">
    <span class="page-name" th:text="${pageName}"></span>
    <div class="header-right d-flex align-items-center">
        <div class="dropdown">
            <a class="username-in-header nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <img src="https://via.placeholder.com/40" alt="User Image" class="user-image rounded-circle mr-2">
                <div class="d-inline-block" th:if="${userInfo}">
                    <span th:text="${userInfo.firstName} + ' ' + ${userInfo.lastName}"></span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <p th:if="${userInfo}" class="dropdown-item">
                    <i class="align-middle me-1 icon" data-feather="user"></i>
                    Staff role:
                    <span class="role-label ml-3" th:text="${#strings.capitalize(userInfo.staffRole.toLowerCase())}"></span>
                </p>
                <div class="dropdown-divider"></div>
                <form id="logoutForm" action="/logout" method="POST"></form>
                <a class="dropdown-item" href="#" onclick="logout()">Log out</a>
            </div>
        </div>
    </div>
</header>
