body {
    font-family: Arial, sans-serif;
    background-color: #d2d9e8;
    color: #333;
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.card-title {
    font-size: 1.2em;
    margin-top: 0;
    color: #333;
    text-transform: uppercase;
}

.card-content-wrapper {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}

.card-content {
    width: max-content;
}

.card-content table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
    font-size: 12px;
}

.card-content table th, .card-content table td {
    border: none;
    padding: 8px 4px;
    text-align: left;
    position: relative;
}

.card-content table th {
    background-color: #f7f8fa;
    color: #555;
    font-weight: bold;
    border-bottom: 2px solid #e0e0e0;
}

.card-content table td {
    background-color: #fff;
}

.card-content table tr {
    border-bottom: 1px solid #e0e0e0;
}

.card-content table td::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: #e0e0e0;
}

.card a {
    display: block;
    text-align: center;
}

.card a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.details-link {
    /*font-weight: bold;*/
    /*color: #c7c6c6;*/
    text-decoration: underline;
    color: black;
}

.details-link:hover {
    font-weight: bold;
}


.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-auto {
    padding: 10px;
}

.mb-3 {
    margin-bottom: 16px;
}

#userInfo {
    height: 10vw;
}

body {
    display: flex;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: #343a40;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 1000;
}
.sidebar:hover {
    width: 250px;
}
.sidebar .nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar .nav-item .icon {
    margin-right: 10px;
}
.sidebar .nav-item:hover {
    background: #495057;
}
.sidebar .nav-link-text {
    display: none;
}
.sidebar:hover .nav-link-text {
    display: inline;
}
.content {
    margin-left: 80px;
    padding: 20px;
}
.sidebar:hover ~ .content {
    /*margin-left: 250px;*/
}