<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" href="https://unpkg.com/feather-icons">

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+PL:wght@100..400&display=swap" rel="stylesheet">

    <!--popups-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!--auth-->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
</head>
<body>

<div class="d-flex w-100">

    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content flex-grow-1 sidebar-active">

        <header th:replace="~{fragments/header :: header}"></header>

        <div class="main justify-content-center">
            <div class="cards-container container-fluid">
                <div class="row justify-content-left">
                    <div class="col-12 col-md-12 col-lg-6 mb-4">
                        <div class="card" id="patientsCard">
                            <div class="card-header">
                                <h5 class="card-title">Patients</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-sm" th:if="${latestPatients}">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="patient, iterStat : ${latestPatients}">
                                            <td th:text="${patient.patientId}"></td>
                                            <td th:text="${patient.firstName} + ' ' + ${patient.lastName}"></td>
                                            <td th:text="${patient.dateOfBirth}"></td>
                                            <td th:text="${patient.phoneNumber}"></td>
                                            <td th:text="${patient.email}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/patients" class="btn btn-primary see-more-btn">View All</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card action-card d-flex flex-row align-items-center mb-2 p-2">
                            <div class="icon-container me-3">
                                <i data-feather="calendar"></i>
                            </div>
                            <div class="card-content flex-grow-1">
                                <p class="card-title mb-0">New Appointment</p>
                                <p class="card-subtitle mb-0">Set up a patient visit</p>
                            </div>
                            <i data-feather="arrow-right" class="ms-auto"></i>
                        </div>

                        <div class="card action-card d-flex flex-row align-items-center mb-2 p-2" onclick="location.href='/medical-records/add'" style="cursor:pointer;">
                            <div class="icon-container me-3">
                                <i data-feather="file-text"></i>
                            </div>
                            <div class="card-content flex-grow-1">
                                <p class="card-title mb-0">New Record</p>
                                <p class="card-subtitle mb-0">Document medical info</p>
                            </div>
                            <i data-feather="arrow-right" class="ms-auto"></i>
                        </div>
                        <div class="card action-card d-flex flex-row align-items-center mb-2 p-2" onclick="location.href='/patients/add'" style="cursor:pointer;">
                            <div class="icon-container me-3">
                                <i data-feather="plus"></i>
                            </div>
                            <div class="card-content flex-grow-1">
                                <p class="card-title mb-0">New Patient</p>
                                <p class="card-subtitle mb-0">Add a new patient</p>
                            </div>
                            <i data-feather="arrow-right" class="ms-auto"></i>
                        </div>
                        <div class="card action-card d-flex flex-row align-items-center mb-2 p-2" onclick="location.href='/billing/add'" style="cursor:pointer;">
                            <div class="icon-container me-3">
                                <i data-feather="dollar-sign"></i>
                            </div>
                            <div class="card-content flex-grow-1">
                                <p class="card-title mb-0">New Bill</p>
                                <p class="card-subtitle mb-0">Create a new bill</p>
                            </div>
                            <i data-feather="arrow-right" class="ms-auto"></i>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Today's Appointments</h5>
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="scheduledAppointments" th:value="${appointmentStatusCounts['scheduled'] ?: 0}">
                                <input type="hidden" id="completedAppointments" th:value="${appointmentStatusCounts['completed'] ?: 0}">
                                <div class="chart"
                                     th:if="${appointmentStatusCounts['scheduled'] != 0
                                     or appointmentStatusCounts['completed'] != 0}">

                                    <canvas id="remainingAppointmentsChart"></canvas>

                                </div>
                                <p class="text-muted h-100"
                                   th:if="${appointmentStatusCounts['scheduled'] == 0
                                   or appointmentStatusCounts['completed'] == 0}">
                                    There are no appointments for today.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Appointments</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-sm" th:if="${latestAppointments}">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Doctor</th>
                                            <th>Patient</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="appointment, iterStat : ${latestAppointments}">
                                            <td th:text="${appointment.appointmentId}"></td>
                                            <td th:text="${#temporals.format(appointment.appointmentDate, 'HH:mm dd/MM/yyyy')}"></td>
                                            <td th:text="${appointment.status}"></td>
                                            <td th:text="${appointment.doctor.firstName} + ' ' + ${appointment.doctor.lastName}"></td>
                                            <td th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/appointments" class="btn btn-primary see-more-btn">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Medical Records</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-sm" th:if="${latestMedicalRecords}">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Time</th>
                                            <th>Doctor</th>
                                            <th>Patient</th>
                                            <th>Diagnosis</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="record, iterStat : ${latestMedicalRecords}">
                                            <td th:text="${record.recordId}"></td>
                                            <td th:text="${#temporals.format(record.appointment.appointmentDate, 'HH:mm dd/MM/yyyy')}"></td>
                                            <td th:text="${record.appointment.doctor.firstName} + ' ' + ${record.appointment.doctor.lastName}"></td>
                                            <td th:text="${record.appointment.patient.firstName} + ' ' + ${record.appointment.patient.lastName}"></td>
                                            <td th:text="${record.diagnosis}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/medical-records" class="btn btn-primary see-more-btn">View All</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Billing</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-sm" th:if="${latestBills}">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Time</th>
                                            <th>Patient</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="bill, iterStat : ${latestBills}">
                                            <td th:text="${bill.billId}"></td>
                                            <td th:text="${bill.date}"></td>
                                            <td th:text="${bill.appointment.patient.firstName} + ' ' + ${bill.appointment.patient.lastName}"></td>
                                            <td th:text="${bill.amount}"></td>
                                            <td th:text="${bill.status}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/billing" class="btn btn-primary see-more-btn">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/main.js}"></script>

</body>
</html>
