<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCnOzzlp4v7_arUneoK3ZPxx4n-oJ7FnJ4",
            authDomain: "cs450-5859.firebaseapp.com",
            projectId: "cs450-5859",
            storageBucket: "cs450-5859.appspot.com",
            messagingSenderId: "151931224823",
            appId: "1:151931224823:web:9efe844600eb230d1e49f2",
            measurementId: "G-M5E63DF98M"
        };

        if (!firebase.apps.length) {
            firebase.initializeApp(firebaseConfig);
        } else {
            firebase.app();
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            firebase.auth().onAuthStateChanged(user => {
                if (!user) {
                    console.log('User not authenticated');
                    alert('User not authenticated. Please log in first.');
                    window.location.href = "/";
                }
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-auto mb-3">
            <div class="card" id="userCard">
                <div class="card-body">
                    <h2 class="card-title">User Info</h2>
                    <div th:if="${dashboardData.userInfo}">
                        <div class="user-info"><strong>Welcome:</strong> <span th:text="${dashboardData.userInfo.firstName} + ' ' + ${dashboardData.userInfo.lastName}"></span></div>
                        <div class="user-info"><strong>Role:</strong> <span th:text="${dashboardData.userInfo.role}"></span></div>
                        <div class="user-info"><strong>Email:</strong> <span th:text="${dashboardData.userInfo.email}"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Patients</h2>
                    <div class="card-content-wrapper">
                        <div class="card-content">
                            <table class="table table-bordered table-hover table-sm" th:if="${dashboardData.patients}">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="patient : ${dashboardData.patients}">
                                    <td th:text="${patient.patient_id}"></td>
                                    <td th:text="${patient.patient_first_name} + ' ' + ${patient.patient_last_name}"></td>
                                    <td th:text="${patient.patient_email}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">See More</a>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Appointments</h2>
                    <div class="card-content-wrapper">
                        <div class="card-content">
                            <table class="table table-bordered table-hover table-sm" th:if="${dashboardData.appointments}">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                    <th>Doctor</th>
                                    <th>Patient</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="appointment : ${dashboardData.appointments}">
                                    <td th:text="${appointment.appointment_id}"></td>
                                    <td th:text="${#temporals.format(appointment.appointment_date, 'dd/MM/yyyy HH:mm')}"></td>
                                    <td th:text="${appointment.appointment_status}"></td>
                                    <td th:text="${appointment.staff_first_name} + ' ' + ${appointment.staff_last_name}"></td>
                                    <td th:text="${appointment.patient_first_name} + ' ' + ${appointment.patient_last_name}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">See More</a>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Medical Records</h2>
                    <div class="card-content-wrapper">
                        <div class="card-content">
                            <table class="table table-bordered table-hover table-sm" th:if="${dashboardData.medicalRecords}">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>Doctor</th>
                                    <th>Patient</th>
                                    <th>Diagnosis</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="record : ${dashboardData.medicalRecords}">
                                    <td th:text="${record.record_id}"></td>
                                    <td th:text="${#temporals.format(record.appointment_date, 'dd/MM/yyyy HH:mm')}"></td>
                                    <td th:text="${record.staff_first_name} + ' ' + ${record.staff_last_name}"></td>
                                    <td th:text="${record.patient_first_name} + ' ' + ${record.patient_last_name}"></td>
                                    <td th:text="${record.record_diagnosis}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">See More</a>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Billing</h2>
                    <div class="card-content-wrapper">
                        <div class="card-content">
                            <table class="table table-bordered table-hover table-sm" th:if="${dashboardData.billing}">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Time</th>
                                    <th>Patient</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bill : ${dashboardData.billing}">
                                    <td th:text="${bill.bill_id}"></td>
                                    <td th:text="${#temporals.format(bill.appointment_date, 'dd/MM/yyyy HH:mm')}"></td>
                                    <td th:text="${bill.patient_first_name} + ' ' + ${bill.patient_last_name}"></td>
                                    <td th:text="${bill.bill_amount}"></td>
                                    <td th:text="${bill.bill_status}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary mt-3">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
